@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=MuseoModerno:wght@700;800&family=WindSong:wght@500&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/* ---------------top navbar--------------- */
.topNav {
    display: flex;
    place-content: center;
    margin: 1em 0;
}

.navMenuContainer {
    display: flex;
    place-content: center;
    height: 50px;
}

.navMenu,
.logo>img {
    cursor: pointer;
}

.navMenu {
    margin: 0 1em;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 24px;
}

.navMenu:active {
    border-bottom: #dd4b85 solid 3px;
    font-weight: 300;
}

.navMenu:hover {
    color: orangered;
}

/* ---------------main heading--------------- */
.mainHeading {
    text-align: center;
    margin-top: 0;
    font-family: 'WindSong', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

/* ---------------main background image--------------- */
.bgImage {
    width: 100vw;
    height: 70vh;
    background-image: url(resources/images/img12.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5em;

}

.ourPackages {
    text-align: center;
}

/* ---------------event cards--------------- */
.eventCards {
    display: flex;
    margin: 2em auto;
    justify-content: center;
}

.eventCard {
    border-radius: 15px;
    margin-right: 1em;
    height: 400px;
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wedding {
    background-image: url(resources/images/img17.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.picnic {
    background-image: url(resources/images/img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.packages {
    background-image: url(resources/images/img11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.eventTag {
    font-weight: bold;
    background-color: pink;
    margin: 0 1.5em;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 82%;
}

.eventTag img {
    height: 27px;
    width: 27px;
    margin-right: 0.7em;
}

.feedback {
    text-align: center;
}

/* ---------------reviews/ testimonials--------------- */
.reviews {
    display: flex;
    margin: 1.5em;
    justify-content: center;
}

.reviewCard {
    border-radius: 10px;
    background-color: #fff;
    height: 165px;
    width: 342px;
    padding: 2em;
    margin-right: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewerName {
    margin-bottom: 0;
    width: 16em;
}

.reviewerDate {
    margin-top: 2px;
}

.reviewer img {
    height: 40px;
    width: 40px;
    justify-self: flex-end;
    margin-right: 1em;
}

/* ---------------contact us--------------- */
.contactUs {
    margin-top: 4.5em;
    background-color: #DEA5C5;
    height: 50vh;
    padding-top: 3em;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.contactCard {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;
    height: fit-content;
    min-height: 380px;
    width: 59vw;
    background-color: white;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.message h2,
h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 900;
}

.message h2 {
    font-size: 160%;
}

.message h1 {
    font-size: 178%;
}

.ourSocials img {
    height: 42px;
    width: 42px;
    margin-right: 1.5em;
}

.ourSocials {
    margin-top: 3em;
}

.messageEdits {
    opacity: 0.6;
}

.messageIcon {
    height: 80px;
    width: 80px;
}

input {
    margin-bottom: 1.2em;
    width: 20em;
    min-height: 35px;
}

input:focus,
textarea:focus {
    outline: 2px solid #97eaff;
    border: none;
}

input,
textarea {
    border: 1px solid #333;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

textarea {
    margin-bottom: 0;
}

input::placeholder,
textarea::placeholder {
    opacity: 0.5;
}

form {
    margin-left: 2em;
}